<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @card.term %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @card.meaning %>
</p>

<p>
  <strong>Done:</strong>
  <%= @card.done %>
</p>

<p>
  <strong>Group:</strong>
  <%= @card.group_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
